@import "tailwindcss";

*{
  box-sizing: border-box;
  list-style: none;
}

:root{
  --prim-color:#066dca;
  --prim-light:#f3f9ff;
  --text-color:#222E48;
  --pera-color:#404A60;
  --secondary-color:#f37739;
  --white:#fff;
  --black:#000;
  --transition-fast:.3s ease-in-out;
  --transition-slow:.5s ease-in-out;
}

@layer utilities{
  .font-unbounded{
    font-family: var(--font-unbounded);
  }
    .font-poppins{
    font-family: var(--font-poppins);
  }
    .font-sora{
    font-family: var(--font-sora);
  }
    .font-inter{
    font-family: var(--font-inter);
  }
    .font-chakrapetch{
    font-family: var(--font-chakrapetch);
  }
}

.sidebar-nav li.active{
  background-color: var(--prim-color);
  color: var(--color-white);
}
.sidebar-nav li.active svg,
.sidebar-nav li.active i{
  color: var(--white);
}
.sidebar-nav li:hover{
  color: var(--white);
  background-color: var(--prim-color);
}
.sidebar-nav li:hover svg,
.sidebar-nav li:hover i{
  color: var(--white);
}
@keyframes fade-in{
  from{
    opacity: 0;
    transform: translateY(-5px);
  }

   to{
    opacity: 1;
    transform: translateY(0);
  }

}